.parent {
	display: flex;
	flex-flow: column;
    width: 90%;

    button {
        width: 100px;
        margin-top: 5px;
    }

    textarea {
        height: 50px;
    }
}

.myPosts {
    
    p {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 5px;
    }
    
}

.content {
    margin-left: 20px;
}