.nav {
	grid-area: nav;
	background-color: #e9a100;

	.item {
		color: chartreuse;
		list-style: none;
		
		
		a {
			color: white;
			text-decoration: none;
		}

		a.active {
			color: gold;
		}
	}
	.friends {
		margin-top: 50px;
		font-size: 35px;
		color: darkcyan;
		
		
	}
	.friend {
		display: flex;
		margin-left: -20px;
	}
}
